body {
  box-sizing: border-box;
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.list-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

table {
  border-collapse: collapse;
  width: 80%;
}

th, td {
  text-align: center;
  padding: 10px;
  border: 1px solid #dddddd;
}

th {
  background-color: #f2f2f2;
}

.create-container {
  max-width: 300px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
}

h2 {
  text-align: center;
  color: #504b4b;
}

.create-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

.btn-submit {
  width: 100%;
  padding: 15px;
  background-color: #8a7ebe;
  color: #fff;
  border-radius: 25px;
}

footer {
  justify-content: space-between;
  text-align: center;
  padding: 5px 0 5px 0;
  background-color: #f2f2f2;
  align-items: center;
}